
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br/>
    <br/>
    <br/>
    <table class="abouttable">
        <tr>
            <td colspan="2" align="center">
                <h1>About Us</h1>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <img src="~/Content/images/EventHalls.jpg" height="500px" width="900px"/>
            </td>

        </tr>
        <tr>
            <td><p class="pab">Email : jkeventhall111@gmail.com</p><br/>
            <p class="pab">Contact : +91 9898989696</p><br />
            <p class="pab">Fax : 02844 96965</p></td>
            <td><p class="pab">Address : 05, ParshivalPara Zone</p><br/>
            <p class="pab">Ahemdabad City</p><br/>
            <p class="pab">India</p></td>
        </tr>
        

    </table>
    <br/>
    <br/>
    <br/>
</center>

