
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center class="centergallery">
    <table class="tablegallery">
        <tr>
            <td colspan="3" align="center"><h1>Our Gallery</h1></td>
        </tr>
        <tr>
            <td> <img src="~/content/images/g6.jpg" height="300px" width="500px" alt=""></td>
            <td><img src="~/Content/images/g7.jpg" height="300px" width="500px" alt=""></td>
            <td><img src="~/Content/images/n2.jpg" height="300px" width="500px" alt=""></td>
        </tr>
        <tr>
            <td><img src="~/Content/images/g3.jpg" height="300px" width="500px" alt=""></td>
            <td><img src="~/Content/images/EventHalls.jpg" height="300px" width="500px" alt=""></td>
            <td><img src="~/Content/images/st2.jpg" height="300px" width="500px" alt=""></td>
        </tr>
    </table>
</center>



