
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1>Welcome To Our Jk Event Hall</h1>
    <br/>
    <br/>
    <br/>
    <br/>
</center>

