
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center style="background-color: #ffffcc">
    <div style="font-weight: bold; color: #000000; background-color: #ffff99">

        <br />
        <br />
        <br />
        <br />

        <h1>Hall Information </h1><br />
        <h3>User Can See All Hall Details</h3><br />
        <h3>User Can See Staff information </h3><br />
        <h3>User Can See Booking Informtaion</h3><br />
        <h3>Online  and Offline Multi Functionality</h3><br />
        <br />
        <br />
        <br />
        <br />

        <h1>Booking Information</h1><br />
        <h3>Online Booking Services</h3><br />
        <h3>Offline Booking Services</h3><br />

        <h3>Call Booking Service</h3><br />
        <h3>100+ Capicity of Booking</h3><br />
        <br />
        <br />
        <br />
        <br />

        
        <br />
        <br />
        <br />

        <h1>Thanc you.</h1>

    </div>
</center>

